[user]
	name = Tiago Quintino
	email = tlmquintino@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	st = status
	di = diff
	ci = commit
	co = checkout
	aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
[core]
	quotepath = false

